#calculoimg
{
    width: 350;
    height: 150;
    
}
#newton
{
    width: 20%;
    height: 20%;
}

#limite_1
{
    width: 20%;
    height: 20%;
}
#limite_2
{
    width: 20%;
    height: 20%;
}
#limite_3
{
    width: 20%;
    height: 20%;
}