h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
.actividad{
    margin-right: 20px;
    float: left;
    width: 200px;
    height: auto;
    border-radius: 50%;
    
    

  }
  .actividades{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .intro{
    
        font-size: 40px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
  }